modules = ["nodejs-20"]
run = "node index.js"
[nix]
channel = "stable-24_05"

[workflows]
runButton = "Run"

[deployment]
run = ["sh", "-c", "node index.js"]

[[ports]]
localPort = 8000
externalPort = 80
